<div class="jumbotron ">
    <div style="text-align:center">
        <h1>File Uplaod</h1>
    </div>
  </div>
  <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="/fileupload#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="/fileupload#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="/fileupload#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="container">
                <div class="card">
                    <div class="card-body">
      
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Input</label>
                                <textarea [(ngModel)]="data.privacydata " name='data' class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                <small id="emailHelp" class="form-text text-muted">sample check .</small>
                            </div>
                            <button type="submit" class="btn btn-primary" (click)='predict($event)'>Submit</button>
                        </form>
                    </div>
                </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>
        <div class="row" *ngIf="chart" >
            <div class="card">
                <canvas id="pie-chart" width="500" height="450"> {{chart}}</canvas>
            </div>
        </div>
  </div>